body {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.content {
    width: 32%;
    display: flex;
    flex-direction: column;
}

header {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 0.75rem;
}

main {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

img {
    width: 45px;
    height: 45px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin: 0 2rem;
}

footer a {
    text-decoration: none;
}